/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
}

.smfd-hide {
	display:none !important
}
/* .NotClickable {
    cursor: none !important;
    pointer-events: none;
} */

.raw-material-carosel{
	max-width: 300px !important;
    max-height: 300px !important;
    text-align: center !important;
    margin: 0 auto !important;
    overflow: hidden;
}
.raw-material-carosel img{
    width: 300px;
    height: 300px;
}
.smfd-slider-font , .smfd-bolder-font , .smfd-bolder-font h1{
    font-weight: 900 !important;
}
.awb-swiper-button.awb-swiper-button-prev {
    left: 1% !important;
    top: 88% !important;
}
.awb-swiper-button.awb-swiper-button-next {
    right: 1% !important;
    top: 88% !important;
}